.image-with-text__heading {
  font-size: 2rem;
}
.image-with-text__content > * + * {
  margin-top: 4rem;
}
.image-with-text__content .image-with-text__text + .button {
  margin-top: 4rem;
}
.button {
  font-size: 1.4rem;
}
h5 {
  line-height: 2.1em;
}